.footer {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;

    & a {
        font-weight: 700;
        color: inherit;
        text-decoration: none;
    }
    &__body {
        padding: 20px 0px;
        margin-bottom: 20px;
    }
}